---
interface Props {
  title: string;
  numbers: string;
}
const { title, numbers } = Astro.props;
---

<div
  class="flex flex-col items-center gap-y-2 w-72 p-5 drop-shadow-xl bg-white rounded-md"
>
  <span class="text-lg text-[#233443] text-center">{title}</span>
  <span class="text-5xl font-light text-textSecondary">{numbers}</span>
</div>
