---
import Navbar from "../Navbar.astro";
import NavbarMobile from "../Navbar-Mobile.astro";
import { Image } from "astro:assets";
---

<header class="flex flex-col h-screen sm:h-[70vh] lg:h-[90vh] w-full">
  <NavbarMobile />
  <Navbar />

  <div
    class="mx-auto w-full max-w-screen-2xl flex flex-col items-center justify-between mt-5 xl:mt-10 pt-5 lg:pt-20 sm:flex-row"
  >
    <!--contenedor izquierdo -->
    <div class="w-full flex flex-col items-center sm:items-start">
      <h1
        class="text-4xl lg:text-5xl max-w-[260px] sm:max-w-72 md:max-w-md uppercase text-pretty text-[#003478] mb-10 sm:mb-20 lg:mb-36 sm:pl-5 lg:pl-12 font-light"
      >
        The Future of <span class="text-[#FBAA0C] font-medium">
          Exhilaration</span
        >
      </h1>
      <!-- Todo:Letras -->
      <!--lineas mobile-->
      <p
        class="w-full text-center uppercase sm:pl-6 text-2xl font-light text-white bg-primary sm:hidden"
      >
        ford mustang <span class="text-lg">2021</span>
      </p>
      <div class="w-full bg-primary h-8 md:h-10 mt-3 sm:hidden"></div>
      <!--botones -->
      <div
        class="sm:pl-6 lg:pl-12 pt-10 flex flex-wrap justify-center gap-4 md:gap-x-10"
      >
        <button
          class="bg-[#003478] text-white py-3 sm:py-2 md:py-3 px-8 sm:px-5 md:px-8 rounded-sm text-base"
        >
          Build & Price
        </button>
        <div class="flex items-center gap-x-3">
          <button
            class="hidden md:flex w-9 h-9 rounded-full bg-[#003478] items-center justify-center"
          >
            <img
              class="text-white w-4 h-4"
              src="/playIcon.svg"
              alt="icono de play"
            />
          </button>
          <span
            class="text-base text-[#003478] md:text-textSecondary py-3 sm:py-2 md:py-0 px-8 sm:px-5 md:px-0 max-md:border max-md:border-[#003478] max-md:rounded-sm"
            >Watch video</span
          >
        </div>
      </div>
    </div>
    <!--contenedor derecho-->
    <div class="w-full relative overflow-visible">
      <Image
        width={763}
        height={766}
        src="/vehicle2.svg"
        alt="hero"
        class="h-auto max-h-[430px] sm:max-h-[330px] lg:max-h-[500px] w-full xl:hidden"
      />
      <Image
        width={1399}
        height={739}
        src="/vehicle.svg"
        alt="hero"
        class="hidden xl:block pr-5"
      />

      <!--lineas desktop-->
      <div
        class="hidden lg:pt-1 xl:pt-0 sm:flex flex-col uppercase w-[200%] -z-10 bg-primary h-[61px] min-[660px]:h-16 min-[685px]:h-[67px] lg:h-[100px] min-[1044px]:h-[103px] min-[1280px]:h-[67px] min-[1340px]:h-[70px] min-[1390px]:h-[74px] min-[1448px]:h-[78px] min-[1530px]:h-[82px] absolute -left-[100%] top-[42%] wrapper"
      >
        <span
          class="text-white uppercase pl-6 sm:pl-7 lg:pl-14 text-xl lg:text-3xl xl:text-2xl font-light"
          >ford mustang <span class="text-base">2021</span></span
        >
        <div
          class="w-full h-2 lg:h-3 xl:h-2 min-[1445px]:h-[9px] bg-white absolute top-[43%]"
        >
        </div>
      </div>
    </div>
  </div>
</header>

<style>
  .wrapper {
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 6%,
      rgba(0, 0, 0, 1) 94%,
      rgba(0, 0, 0, 0)
    );
  }
</style>
