---
import Navbar from "./Navbar.astro";
import { Image } from "astro:assets";
---

<header class="">
  <Navbar />

  <div class="flex items-center justify-between mt-5">
    <div class="w-[55%] pt-[158px] h-screen">
      <h1 class="text-5xl mb-16 max-w-2xl 2xl:pl-40 uppercase md:text-6xl font-bold">
        The Future of <span class="text-[#FBAA0C]"> Exhilaration</span>
      </h1>
      <!-- Todo:Letras -->
      <p class="uppercase 2xl:pl-40 text-4xl py-[19px] font-light text-white bg-lines">
        ford mustang <span>2021</span>
      </p>
      <div class="w-full bg-lines py-10 mt-6"></div>

      <div class=" xl:pl-40 mt-8 space-x-4">
        <button class="bg-[#003478] text-white py-3 px-8 rounded-sm">
          Build & Price
        </button>
        <button> Watch Video </button>
      </div>
    </div>

    <Image
      width={1490}
      height={700}
      src="/vehicle2.svg"
      alt="hero"
      class="absolute right-0 bottom-0 w-[50%]"
    />
  </div>
</header>
